<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <div th:replace="fragments/headerstyle :: mystyle"></div>
</head>
<body>
<div th:replace="fragments/header :: myheader"></div>
    <div class="container">
    <h1 th:text="${title}"></h1>
        <a th:href="${'/customers/'}" class="btn btn-secondary" role="button">Atpakaļ</a>
    <h4 th:each="year : ${years}">
    <a th:href="${'/customers/finances/'+year}" th:text="${year}"></a>
    </h4>



    </form>
</div>
</body>
</html>