<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <div th:replace="fragments/headerstyle :: mystyle"></div>
</head>
<body>
<div th:replace="fragments/header :: myheader"></div>
<div class="container">
<h1 th:text="${title}"></h1>
    <form method="post" th:action="${'/invoices/'}" name="customerDto">
        <label for="customerId">Atlasīt pēc klienta:</label>
        <select id="customerId" name="customerId">
            <option></option>
            <option th:each="customer : ${customers}"
                    th:value="${customer.getId()}"
                    th:text="${customer.getName()}"></option>
        </select>
        <button type="submit" class ="btn btn-success">Atlasīt</button>
        <a href="/new_invoice" class="btn btn-success"> Jauns rēķins</a>
        <span th:if="${#httpServletRequest.requestURI != '/invoices'}" >
        <a href="/invoices" class="btn btn-secondary">Visi rēķini</a>
        </span>
        <span th:if="${#httpServletRequest.requestURI != '/unpaid'}" >
        <a href="/unpaid" class ="btn btn-danger">Nesamaksātie rēķini</a>
        </span>
        <span th:if="${#httpServletRequest.requestURI != '/delivery'}" >
        <a href="/delivery" class ="btn btn-secondary">Pavadzīmes</a>
             </span>
    </form>
        <br>
    <div th:text="${#httpServletRequest.requestURI}"></div>
        <form method="post" th:action="${'/invoices/paid'}" name="invoiceSaveDto">
            <button type="submit" class="btn btn-success" style="">Saglabāt izmaiņas</button>


        <table class="table table-hover">
                <thead>
                <tr>
                    <th>Samaksāts</th>
                    <th>Numurs</th>
                    <th>Summa</th>
                    <th>Klients</th>
                    <th>Komentārs</th>

                <tr/>
                </thead>
                <tbody>
                <tr th:each="invoice: ${invoices}">
                    <td>
                        <input type="checkbox" id="paid" name="paid" th:value="${invoice.getId()}" th:checked="${invoice.getIsPaid()}">
                    </td>
                    <td > <a th:text="${invoice.getNumber()}" th:href="${'/invoices/'+invoice.getId()}"></a></td>
                    <td th:text="${invoice.getTotal()}"/>
                    <td th:text="${invoice.getCustomer().getName()}"/>
                    <td th:text="${invoice.getComment()}"/>
                </tr>
                </tbody>
            </table>
    </form>
</div>
</body>
</html>