<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        h2{text-align: right;}
        h1{text-align: center;}
        th{text-align:left;}
        table, th, td {border-style: dotted; border-color:#D3D3D3;border-collapse: collapse;}

    </style>
    <style type='text/css'>
    * { font-family: Verdana; }
       </style>
</head>
<body th:text="${pdf}">

    </tbody>
</table>

</body>
</html>