<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <div th:replace="fragments/headerstyle :: mystyle"></div>
</head>
<body>
<div th:replace="fragments/header :: myheader"></div>
    <div class="container">
    <h1 th:text="${title}"></h1>
    <form method="post" action="/new_item/add" name="itemSaveDto" enctype="multipart/form-data">
                    <label for="category">Kategorija:</label>
                    <input type="text" readonly id="category" name="category" th:value="${category}"></input>
                    </select><br/>



            <label for="name">Nosaukums:</label>
            <input type="text" id="name" class="fadeIn first"
                   style="margin-top: 30px" name="name"><br/>


            <label for="price">Cena:</label>
            <input type="number" step="0.01" id="price" class="fadeIn first"
                   style="margin-top: 30px" name="price"><br/>

        <label for="price">Pieejamais skaits:</label>
        <input type="number" id="totalCount" class="fadeIn first"
               style="margin-top: 30px" name="totalCount"><br/>
        <br/>

        <label for="location">Atrašanās vieta:</label>
        <select id="location" name="location">
            <option ></option>
            <option th:each="location : ${locations}"
                    th:value="${location}"
                    th:text="${location}"></option>
        </select><br/>
        <br/>

<!--            <label for="pic">Pic:</label>-->
<!--            <input type="file" id="pic" class="fadeIn first"-->
<!--                   style="margin-top: 30px" name="pic"><br/>-->

<!--            <br/>-->

                    <label path="file">Izvēlies attēlu: </label>
                    <input type="file" id="pic" name="file" accept="image/*"/>




        <button type="submit" class="btn btn-success">Saglabāt</button>

    </form>

</div>
</body>
</html>