<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<style>
        body {font-family: "Comic Sans";}

    </style>
<div class="container" th:fragment="pdfheader" style="background-color: white; width: 100%; height: 250px;">
    <div style="width: 50%; float: left;">
          <img th:src="@{${logo}}" width="170px" height="170px"/>
    </div>
    <div style=" width: 50%; float: left;">
      <h3>SIA "VentSystem.lv"</h3>
        <h3>Lielais prospekts 18-11, Ventspils, LV-3601</h3>
          <h3>LV41203041233</h3>
            <h3>A/S "Swedbank"</h3>
              <h3>LV51HABA0551031251238</h3>

    </div>
</div>
</body>
</html>