<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<style>
        body {font-family: "Comic Sans";}

    </style>
<div class="container" th:fragment="pdfheader" style="background-color: white; width: 100%; height: 130px;">
    <div style="width: 50%; float: left;">
          <img th:src="@{${logo}}" width="130px" height="130px"/>
    </div>
    <div style=" width: 50%; float: right;">
      <div style="font-size:18px;text-align:right">SIA "VentSystem.lv"</div>
        <div style="font-size:16px;text-align:right">Andris +371 26160820</div>
        <div style="font-size:16px;text-align:right">Kaspars +371 25911891</div>
    </div>
</div>
</body>
</html>