<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <div th:replace="fragments/headerstyle :: mystyle"></div>
    <style>
        h2{text-align: right;}
    </style>
</head>
<body>
<div th:replace="fragments/header :: myheader"></div>
    <div class="container">
    <h1 th:text="${title}"></h1>

    <form method="post" th:action="${'/projects/'+projectId+'/list/edit'}" >

    <button type="submit" class="btn btn-success">Saglabāt</button>

    <a th:href="${'/projects/'+projectId}" class="btn btn-secondary">Atpakaļ</a>

    <a th:href="${'/projects/'+projectId+'/add'}" class="btn btn-success" role="button">Pievienot tehniku</a>
        <table class="table table-hover">
        <header ><h2 th:text="'Kopsumma: ' + ${sum} + ' EUR / '+${sumVat} + ' EUR'" > </h2></header>
            <thead>
                <tr>
                    <th>Nosaukums</th>
                    <th>Pieejams</th>
                    <th style="width: 100px" >Skaits</th>
                    <th>Cena</th>
                    <th style="width: 150px">Pielāgota cena</th>
                    <th>Izdarīts</th>
                    <th></th>
                <tr/>
            </thead>
        <tbody>
        <tr th:each="item: ${items}">
            <td style="width:500px" th:text="${item.getName()}"/>
            <td style="width:70px"  th:text="${item.getTotalCount()}"></td>
            <td>
                <input style="width:70px"  type="number"  name="quantity" th:placeholder="${item.getQuantity()}"/>
            </td>

            <td style="width: 70px" th:text="${item.getOriginalPrice()}"></td>
            <td> <input type="number" style="width: 70px" name="price" th:placeholder="${item.getPrice()}"/></td>
            <td style="width: 70px" >
                <input type="checkbox" name="done" th:value="${item.getId()}" th:checked="${item.isDone()}">
            </td>
            <td style="width: 70px">
                <a class="navbar-brand" th:href="${'/projects/'+projectId+'/list/delete/'+item.getId()}" name="id" th:value="${item.getId()}">
                    <img th:src="@{/img/trash-fill.svg}" width="30">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</div>
</body>
</html>